/*
 * Copyright 2024 NXP
 *
 * SPDX-License-Identifier: Apache-2.0
 */

&lpi2c1 {
	status = "okay";

	mux: tca9548a@77 {
		compatible = "ti,tca9548a";
		reg = <0x77>;
		status = "okay";
		#address-cells = <1>;
		#size-cells = <0>;

		// reset-gpios = <&gpio5 3 GPIO_ACTIVE_LOW>;

		mux_i2c@0 {
			compatible = "ti,tca9548a-channel";
			reg = <0>;
			#address-cells = <1>;
			#size-cells = <0>;

			st_vl53l4cd_0: st_vl53l4cd@29 {
				compatible = "st,vl53l4cd";
				reg = <0x29>;
				status = "okay";
			};
		};

		mux_i2c@1 {
			compatible = "ti,tca9548a-channel";
			reg = <1>;
			#address-cells = <1>;
			#size-cells = <0>;

			st_vl53l4cd_1: st_vl53l4cd@29 {
				compatible = "st,vl53l4cd";
				reg = <0x29>;
				status = "okay";
			};
		};
	};
};
