/*
 * Copyright 2024 NXP
 *
 * SPDX-License-Identifier: Apache-2.0
 */

&lpi2c1 {
	status = "okay";
	pinctrl-0 = <&lpi2c1_default>;
	pinctrl-names = "default";
	clock-frequency = <I2C_BITRATE_STANDARD>;

	ina226: ina226@41 {
		compatible = "ti,ina226";
		reg = <0x41>;
		current-lsb-microamps = <5000>;
		rshunt-micro-ohms = <500>;
	};
};
