/* SPDX-License-Identifier: Apache-2.0 */

&i2c0 {
	status = "okay";
	pinctrl-0 = <&i2c0_default>;
	pinctrl-names = "default";

	mux: tca9546a@70 { /* Address depends on the hardware configuration. */
		compatible = "ti,tca9546a";
		reg = <0x70>;
		status = "okay";
		#address-cells = <1>;
		#size-cells = <0>;

		mux_i2c@0 {
			compatible = "ti,tca9546a-channel";
			reg = <0>;
			#address-cells = <1>;
			#size-cells = <0>;

			st_vl53l4cd_0: st_vl53l4cd_0@29 {
				compatible = "st,vl53l4cd";
				reg = <0x29>;
				status = "okay";
			};
		};

		mux_i2c@1 {
			compatible = "ti,tca9546a-channel";
			reg = <1>;
			#address-cells = <1>;
			#size-cells = <0>;

			st_vl53l4cd_1: st_vl53l4cd_1@29 {
				compatible = "st,vl53l4cd";
				reg = <0x29>;
				status = "okay";
			};
		};
	};
};

/ {
	servo: servo {
		compatible = "pwm-servo";
		pwms = <&ftm0 0 PWM_MSEC(20) PWM_POLARITY_NORMAL>, /* FMU_CH1 */
		       <&ftm0 3 PWM_MSEC(20) PWM_POLARITY_NORMAL>, /* FMU_CH2 */
		       <&ftm0 4 PWM_MSEC(20) PWM_POLARITY_NORMAL>, /* FMU_CH3 */
		       <&ftm0 5 PWM_MSEC(20) PWM_POLARITY_NORMAL>; /* FMU_CH4 */
		      /* <&ftm3 6 PWM_MSEC(20) PWM_POLARITY_NORMAL>, */ /* FMU_CH5 */
		      /* <&ftm3 7 PWM_MSEC(20) PWM_POLARITY_NORMAL>; */ /* FMU_CH6 */
		min-pulse = <PWM_USEC(700)>;
		max-pulse = <PWM_USEC(1400)>;
	};
};
